<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526631932163-dji1ls4pgtgn1k2854bemsm6mjbooupb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526631932163-dji1ls4pgtgn1k2854bemsm6mjbooupb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526631932163-e2g9t1qhdirtecpp766lqe791g1a8s84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEHQckQLtT2NIo521lUsA36ZcV4Jc6Mew</string>
	<key>GCM_SENDER_ID</key>
	<string>526631932163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bastah</string>
	<key>PROJECT_ID</key>
	<string>bastah-506b5</string>
	<key>STORAGE_BUCKET</key>
	<string>bastah-506b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526631932163:ios:92a8894c390e8740f69936</string>
</dict>
</plist>